<!-- /snippets/collection-sidebar.liquid -->
{% comment %}

  Side navigation for the product types, vendors, and tags.
  These can be based on the current collection or all products. Details in comments below.

  Note: Clicking on a tag will filter the products within the current collection.
  Clicking on a type or vendor link will take you out of the current collection
  to a standalone collection page. E.g. /collections/vendors?q=Pepsi

{% endcomment %}
<div class="collections-sidebar-toggle text-center large--hide">
  <button type="button" class="icon-fallback-text" aria-controls="CollectionsSidebar" aria-expanded="false">
    <span class="icon icon-hamburger" aria-hidden="true"></span>
    <span class="fallback-text">{{ 'collections.sidebar.menu' | t }}</span>
  </button>
</div>
<aside id="CollectionsSidebar" class="collections-sidebar">
  <div class="collections-sidebar-section">
    <h2 class="collections-sidebar-header h4">{{ 'collections.sidebar.sort' | t }}</h2>
    {% include 'collection-sorting' %}
  </div>

  {% if collections.size > 0 %}
    <div class="collections-sidebar-section">
      <h2 class="collections-sidebar-header h4">{{ 'collections.sidebar.collections' | t }}</h2>
      <ul class="no-bullets">
        {% for collection in collections %}
          {% unless collection.handle == 'frontpage' %}
            {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
            <li><a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection_title }}</a></li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if collection.all_types.size > 0 %}
    <div class="collections-sidebar-section">
      <h2 class="collections-sidebar-header h4">{{ 'collections.sidebar.types' | t }}</h2>
      <ul class="no-bullets">
        {% for type in collection.all_types %}
          <li>
            {{ type | link_to_type }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</aside>

<script>
$(function() {
  var $window = $(window)
  var winW = $window.width()
  
  $window.on('resize', function() {
    winW = $window.width()
  })

  // Toggle sidebar
  $('.collections-sidebar-toggle > button').click(function() {
    $('.collections-sidebar').slideToggle(250)
  })

  // Sticky sidebar
  $window.on('scroll', stickySidebar)
  stickySidebar()

  function stickySidebar() {
    var $container = $('#PageContainer')
    var $collection = $('.collection')
    var $sidebar = $('.collections-sidebar')
    var $footer = $('.site-footer')
    var gutter = 30
    var large = 769

    if (winW >= large && $sidebar.outerHeight() < $window.height()) {
      var pastHeader = $window.scrollTop() > $collection.offset().top - gutter
      var reachedFooter = $window.scrollTop() > $footer.offset().top - $sidebar.outerHeight() - gutter

      if (reachedFooter) {
        $container.removeClass('is-moved-by-drawer')
        $sidebar.removeClass('sticky-top')
        $sidebar.addClass('sticky-bottom')
        $sidebar.css({ width: $sidebar.parent().width() })
      } else if (pastHeader) {
        $container.removeClass('is-moved-by-drawer')
        $sidebar.removeClass('sticky-bottom')
        $sidebar.addClass('sticky-top')
        $sidebar.css({ width: $sidebar.parent().width() })
      } else {
        $container.addClass('is-moved-by-drawer')
        $sidebar.removeClass('sticky-bottom')
        $sidebar.removeClass('sticky-top')
        $sidebar.css({ width: 'auto' })
      }
    } else {
      $container.addClass('is-moved-by-drawer')
      $sidebar.removeClass('sticky-bottom')
      $sidebar.removeClass('sticky-top')
      $sidebar.css({ width: 'auto' })
    }
  }
})
</script>