<div class="homepage-block {{text | handleize}} {{orientation}} {{class}}">
  <a class="homepage-block-link" href="{{url}}" title="{{text}}" data-width="{{width}}" data-height="{{height}}">
    <img class="homepage-block-image" src="{{image}}" alt="{{text}}">
    <span class="homepage-block-label">{{text}}</span> 
  </a>
</div>
