{% if settings.newsletter_form_action != blank %}
  <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <input type="text" class="newsletter-input" value="{% if customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_name' | t }}" name="NAME" id="name" aria-label="{{ 'general.newsletter_form.newsletter_name' | t }}" autocorrect="off" autocapitalize="off">
    <input type="email" class="newsletter-input" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
    <button type="submit" class="newsletter-submit-button icon-fallback-text">
      <span class="icon icon-circle-arrow-right" aria-hidden="true"></span>
      <span class="fallback-text">{{ 'general.newsletter_form.submit' | t }}</span>
    </button>
  </form>
{% else %}
  {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
    {% else %}
      <input type="text" class="newsletter-input" value="{% if customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_name' | t }}" name="contact[name]" id="Name" aria-label="{{ 'general.newsletter_form.newsletter_name' | t }}" autocorrect="off" autocapitalize="off">
      <input type="email" class="newsletter-input" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <button type="submit" class="newsletter-submit-button icon-fallback-text">
        <span class="icon icon-circle-arrow-right" aria-hidden="true"></span>
        <span class="fallback-text">{{ 'general.newsletter_form.submit' | t }}</span>
      </button>
    {% endif %}
  {% endform %}
{% endif %}

<script>
$(function() {
  var KEY = 'has_signed_up_to_newsletter'
  var $form = $('.newsletter')
  
  {% if form.posted_successfully? %}
    localStorage.setItem(KEY, true)
  {% endif %}

  if (!localStorage.getItem(KEY)) {
    $form.show()
  }
})
</script>