{% assign link = shop.url | append: url %}
<div class="share-bar">
  <span class="share-bar-label">Share:</span>
  <div class="share-bar-icons">
    <button class="addthis_share_button icon icon-facebook" title="Share on Facebook" data-service="facebook" data-url="{{link}}" data-title="{{title}}"></button>
    <button class="addthis_share_button icon icon-pinterest" title="Share on Pinterest" data-service="pinterest" data-url="{{link}}" data-title="{{title}}"></button>
    <button class="addthis_share_button icon icon-twitter" title="Share on Twitter" data-service="twitter" data-url="{{link}}" data-title="{{title}}"></button>
    <button class="addthis_share_button icon icon-whatsapp" title="Share on Whatsapp" data-service="whatsapp" data-url="{{link}}" data-title="{{title}}"></button>
    <button class="addthis_share_button icon icon-email" title="Share via email" data-service="email" data-url="{{link}}" data-title="{{title}}"></button>
  </div>
</div>

<script>
$(function() {
  addthis.share({
    container_selector: '.share-bar-icons',
    button_selector: '.addthis_share_button',
  });
});
</script>
