{% assign url = shop.url | append: url %}

<div class="share-bar">
  <span class="share-bar-label">Share:</span>
  <div class="share-bar-icons">
    <button class="addthis_share_button icon-fallback-text" data-service="facebook" data-url="{{url}}" data-title="{{title}}">
      <span class="icon icon-facebook" aria-hidden="true"></span>
      <span class="fallback-text">Facebook</span>
    </button>
    <button class="addthis_share_button icon-fallback-text" data-service="pinterest" data-url="{{url}}" data-title="{{title}}">
      <span class="icon icon-pinterest" aria-hidden="true"></span>
      <span class="fallback-text">Pinterest</span>
    </button>
    <button class="addthis_share_button icon-fallback-text" data-service="twitter" data-url="{{url}}" data-title="{{title}}">
      <span class="icon icon-twitter" aria-hidden="true"></span>
      <span class="fallback-text">Twitter</span>
    </button>
    <button class="addthis_share_button icon-fallback-text" data-service="whatsapp" data-url="{{url}}" data-title="{{title}}">
      <span class="icon icon-whatsapp" aria-hidden="true"></span>
      <span class="fallback-text">Whatsapp</span>
    </button>
    <button class="addthis_share_button icon-fallback-text" data-service="email" data-url="{{url}}" data-title="{{title}}">
      <span class="icon icon-email" aria-hidden="true"></span>
      <span class="fallback-text">Email</span>
    </button>
  </div>
</div>

<script>
$(function() {
  addthis.share({
    'container_selector':'.share-bar-icons',
    'button_selector': '.addthis_share_button'
  })
})
</script>
