<div class="testimonial-container" data-section-id="{{ section.id }}">
  {% if section.settings.title != blank %}
    <h2 class="testimonial-title">{{ section.settings.title}}</h2>
  {% endif %}
  {% if section.blocks.size > 0 %}
    {% if section.blocks.size > 0 %}
      <button class="testimonial-arrow testimonial-prev icon-fallback-text">
        <span class="icon icon-circle-arrow-left"></span>
        <span class="fallback-text">Prev</span>
      </button>
    {% endif %}
    <ul class="testimonial-slides">
      {% for block in section.blocks %}
        <li class="quotes-slide quotes-slide--{{ block.id }}" {{ block.shopify_attributes }} data-block-id="{{block.id}}">
          <div class="testimonial-block">

            {{block.settings.testimonial}}

            {% if block.settings.name != blank %}
            <p>
              <span class="testimonial-name">{{ block.settings.name }}</span><br>

              {% if block.settings.site_link != blank %}
                <a href="{{block.settings.site_link}}">
              {% endif %}

              {% if block.settings.site != blank %}
                {{block.settings.site}}
              {% endif %}

              {% if block.settings.site_link != blank %}
                </a>
              {% endif %}
            </p>
            {% else %}
            <p>
            {% if block.settings.site_link != blank %}
                <a href="{{block.settings.site_link}}">
              {% endif %}

              {% if block.settings.site != blank %}
                {{block.settings.site}}
              {% endif %}

              {% if block.settings.site_link != blank %}
                </a>
              {% endif %}
              </p>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
    {% if section.blocks.size > 0 %}
      <button class="testimonial-arrow testimonial-next icon-fallback-text">
        <span class="icon icon-circle-arrow-right"></span>
        <span class="fallback-text">Next</span>
      </button>
    {% endif %}
  {% endif %}
</div>

<script>
$(function() {
  var autoplaySpeed = parseInt({{section.settings.slide-speed}}, 10)

  if (isNaN(autoplaySpeed)) {
    autoplaySpeed = 10000
  }

  $('.testimonial-slides').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    prevArrow: '.testimonial-prev',
    nextArrow: '.testimonial-next',
    autoplay: true,
    autoplaySpeed: autoplaySpeed,
    dots: false,
    arrows: true
  })
})
</script>

{% schema %}
  {
    "name": "Testimonials",
    "class": "testimonial-section",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      },
      {
        "type": "text",
        "id": "slide-speed",
        "label": "Slide speed",
        "default": "10000"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Testimonial",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quam enim, fringilla ut purus ut, pretium ullamcorper sem. In sit amet vestibulum tellus. Aenean gravida dolor eget mi bibendum semper. </p>"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Customer name",
            "info": "Optional",
            "default": "John Doe"
          },
          {
            "type": "text",
            "id": "site",
            "label": "Customer link",
            "info": "Optional",
            "default": "www.example.com"
          },
          {
            "type": "url",
            "id": "site_link",
            "label": "Customer link URL",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
