<!-- /templates/blog.liquid -->
{% comment %}

  Loop through a defined number of articles with the 'paginate' tag.
  Don't forget to close the tag after your loop.

{% endcomment %}

{% paginate blog.articles by 5 %}

{% comment %}
  This template is also used for listing out articles of a specific tag.
  You can change layouts or styles by checking if current_tags is true.
{% endcomment %}
<div class="grid">
  <div class="grid__item">
    
    {% comment %}
      Hide blog title visually
    {% endcomment %}
    <div class="visually-hidden">
      {% if current_tags %}
        <h1>{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
      {% else %}
        <h1>{{ blog.title }}</h1>
      {% endif %}
    </div>

    {% comment %}
      Loop through each article in your blog. This is limited to what you set for pagination above.

      For more info on article liquid tags:
        - http://docs.shopify.com/themes/liquid-variables/article
    {% endcomment %}

    {% for article in blog.articles %}
      <div class="article{% if forloop.first %} article-hero{% endif %}{% unless forloop.first %} grid{% endunless %}">
        {% if article.image %}
          <div class="{% unless forloop.first %} grid__item large--one-third{% endunless %}">
            <a class="article__featured-image" href="{{ article.url }}">
              {{ article | img_url: '1024x1024' | img_tag: article.title }}
            </a>
          </div>
        {% endif %}

        <div class="article-content{% unless forloop.first %} grid__item large--two-thirds{% endunless %}">
          <header class="article-header">
            <time class="article-date" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%A, %e %B %Y' }}</time>
            <h2 class="article-title h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>
          </header>

          {% comment %}
            Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
            Since this is just a listing page, you can either use the excerpt or truncate the full article.
          {% endcomment %}
          <div class="article-excerpt rte">
            {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
            {% else %}
              <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
            {% endif %}
          </div>

          {% comment %}
            Show off meta information like number of comments and tags.
          {% endcomment %}
          <ul class="inline-list">
            {% if blog.comments_enabled? %}
            <li>
              <a href="{{ article.url }}#comments">
                {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
              </a>
            </li>
            {% endif %}
            {% include 'tags-article' %}
          </ul>
          <p class="article-read-more"><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a></p>
        </div>
      </div>
    {% endfor %}

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination }}
      </div>
    {% endif %}
  </div>
</div>

{% endpaginate %}
