<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}
{% assign products_per_page = 9 %}
{% paginate collection.products by products_per_page %}

{% include 'breadcrumb' %}

{% if collection.description != blank %}
  <header class="section-header text-center">
    <h1 class="section-header__title h4">{{ collection.title }}</h1>
    <div class="rte rte--header">
      {{ collection.description }}
    </div>
  </header>
{% else %}
  <header class="section-header text-center">
    <h1 class="section-header__title section-header__left h4">{{ collection.title }}</h1>
  </header>
{% endif %}

<hr>

<div class="collection grid">
  <div class="grid__item large--one-quarter">
    {% include 'collection-sidebar' %}
  </div>

  <div class="grid__item large--three-quarters">

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="grid-uniform">

      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}
      {% for product in collection.products %}

        {% include 'product-grid-item' %}

      {% else %}

        {% if collection.handle == 'all' and current_tags == '' %}

          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}

        {% else %}

          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endif %}

      {% endfor %}

    </div>

    <div class="pagination">
      {% assign product_offset = paginate.current_offset | plus: 1 %}
      {% assign page_product_count = paginate.current_offset | plus: products_per_page %}
      <span class="product-count">
        Showing items {{ product_offset }}
        -
        {% if page_product_count <= paginate.items %}
          {{page_product_count}}
        {% else %}
          {{paginate.items}}
        {% endif %}
        of {{paginate.items}}.
      </span>
      {% if paginate.pages > 1 %}
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      {% endif %}
    </div>
  </div>
</div>

{% endpaginate %}
